<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
      <title>Dashboard</title> 
    </head>
    <%- include('partials/navbar.ejs') %>
    <body id="dashboard">
      <main>
        <div class="container" id="outer-container">
          <!--Dashboard-->
          <div class="h-100 w-100 wrapper" id="wrapper-dashboard">
            <!--Stopwatch-->
            <%- include('partials/stopwatch.ejs') %>
            <!--Dashboard Table-->
            <%- include('partials/dashboard-table.ejs') %>
          </div>
          <!--Data Table-->
          <div class ="container-fluid wrapper hide" id="wrapper-list"> 
            <%- include('partials/list.ejs') %>
          </div>
          <!--Charts-->
          <div class ="container wrapper hide" id="wrapper-charts">
            <%-include('partials/charts.ejs') %>
          </div>
        </div>
        <!--Modal-->
        <%- include('partials/edit-modal.ejs') %>
      </main>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.5/b-2.4.1/date-1.5.1/fc-4.3.0/fh-3.4.0/r-2.5.0/sc-2.2.0/sl-1.7.0/datatables.js"></script>
    <script type = "text/javascript" src = "/js/timer-helpers.js"></script>
    <script type = "text/javascript" src="/js/content-helpers.js"></script>
    <script type = "text/javascript" src="/js/chart-helpers.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/dayjs@1.11.9/dayjs.min.js "></script>
  </body>
</html>