<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
      <title>Dashboard</title>
    </head>
    <body>
      <%- include('partials/navbar.ejs') %>
      <main>
        <!--Outer Container-->
        <div class="container-fluid">
          <div class="row">
          <!-- Content -->
          <div><h1 class="text-lowercase">Hi, <%-name %>!</h1></div>
          <hr>
          <!--Start Home Content-->
          <div id="home" style="display:block;">
            <!--Stopwatch-->
            <%- include('partials/stopwatch.ejs') %>
            <!--Start Table-->
            <div class="table-responsive pt-3">
              <table class="table table-hover">
                <thead>
                  <tr class = 'table-dark'>
                    <th scope = 'col'>Date</th>
                    <th scope = 'col'>Category</th>
                    <th scope = 'col'>Title</th>
                    <th scope = 'col'>Time</th>
                </tr>
                </thead>
                <tbody>
                <%if(timestamps){ %>
                  <% for (var i=0; i<timestamps.length; i++){ %>
                      <tr>
                        <th scope="row"><%-timestamps[i].date%></th>
                        <td><%-timestamps[i].category%></td>
                        <td><%-timestamps[i].title%></td>
                        <td><%-timestamps[i].elapsedTime%></td>
                      </tr>
                  <% } %>
                <%}%>
                </tbody>
              </table>
            </div>
            <!--End Table-->
          </div>
          <!--End Home Content-->                  
          <div id="stats" style="display:none;">
            <p>stats content</p>
          </div>
          <div id="settings" style="display:none;">
            <p>settings content</p>
          </div>
              <!--End Content-->  
        </div>
      </div>
    </main>
  </body>
  <%- include('partials/footer.ejs') %>
  <script type = "text/javascript" src="/js/dashboard.js"></script>
  <script type = "text/javascript" src = "/js/stopwatch.js"></script>
</html>