<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
      <title>Dashboard</title> 
    </head>
    <%- include('partials/navbar.ejs') %>
    <body>
      <main>
        <div class="display-5 text-start text-dark ps-3 px-2 py-2 flex-grow-1">
          <p class="gradient-icon" style="font-size: 2rem;"><i class="fa-solid fa-user-clock"></i></p> 
          <%-name %>
        </div>
        <div class="outer-container p-2">
          <!--Stopwatch-->
          <%- include('partials/stopwatch.ejs') %>
          <!--Table-->
          <%- include('partials/table.ejs') %>
          <!--Modal-->
          <%- include('partials/edit-modal.ejs') %>
        </div>
      </main>
    <%- include('partials/footer.ejs') %>
    <script type = "text/javascript" src = "/js/stopwatch.js"></script>
  </body>
</html>