<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
      <title>Dashboard</title>
    </head>
    <%- include('partials/navbar.ejs') %>

    <body>
      <main>
        <!--Outer Container-->
        <div class="row m-0">
          <!-- Content -->
            <div class="display-5 text-start text-dark ps-3px-2 py-2 flex-grow-1">
              <p class="gradient-icon" style="font-size: 2rem;"><i class="fa-solid fa-user-clock"></i></p> 
              <%-name %>
            </div>
            <!--Start Home Content-->
            <div class="outer-container">
            <!--Stopwatch-->
            <%- include('partials/stopwatch.ejs') %>
            <!--Start Table-->
            <div class="table-responsive-md mt-2 w-100">
            <div class="scrolling-tbody">
              <table class="table table-borderless rounded">
                <thead class="sticky-top text-bg-dark">
                  <tr>
                    <th scope = 'col'>Title</th>
                    <th scope = 'col'>Time</th>
                    <th scope = 'col'>Date</th>
                  </tr>
                </thead>
                <tbody class="table-borderless text-bg-light" style="--bs-bg-opacity: .3;">
                <%if(timestamps){ %>
                  <% for (var i=0; i<count; i++){ %>
                      <tr class="bg-transparent text-dark">
                        <td class="py-0 my-0 text-capitalize fw-bold"><%-timestamps[i].title%></td>
                        <td class="text-end py-0 my-0">
                          <%if(timestamps[i].elapsedTime.hours!="00"){%>
                            <%-timestamps[i].elapsedTime.hours%>:<%-timestamps[i].elapsedTime.minutes%>:<%-timestamps[i].elapsedTime.seconds%>:<%-timestamps[i].elapsedTime.milliseconds%>
                          <%}else if(timestamps[i].elapsedTime.minutes!="00"){%>
                            <%-timestamps[i].elapsedTime.minutes%>:<%-timestamps[i].elapsedTime.seconds%>:<%-timestamps[i].elapsedTime.milliseconds%>
                          <%}else if(timestamps[i].elapsedTime.seconds!="00"){%>
                            <%-timestamps[i].elapsedTime.seconds%>:<%-timestamps[i].elapsedTime.milliseconds%>
                          <%}else {%>
                            <%-timestamps[i].elapsedTime.milliseconds%>
                          <%}%>
                        </td>
                        <td class="py-0 my-0"><%-timestamps[i].date%></td>
                      </tr>
                      <tr> 
                        <td colspan="3" class="py-0 my-0">
                          <% for (var j=0; j<timestamps[i].tags.length; j++){ %>
                            <span class="badge rounded-pill text-bg-dark"><%-timestamps[i].tags[j]%></span>
                          <% } %>
                          <hr class="border border-dark border-2 border-opacity-60 mt-1 mb-2">
                        </td>
                      </tr>
                  <%}%>
                <%}else{ %>
                  <td colspan="3">
                    <p>No Timestamps Yet!</p>
                  </td>
                <%}%>
                </tbody>
              </table>
            </div>
            </div>
            <!--End Table-->
          
          <!--End Home Content-->                  
          <div id="stats" style="display:none;">
            <p>stats content</p>
          </div>
          <div id="settings" style="display:none;">
            <p>settings content</p>
          </div>
              <!--End Content-->  
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
    <script type = "text/javascript" src="/js/dashboard.js"></script>
    <script type = "text/javascript" src = "/js/stopwatch.js"></script>
</body>
</html>