<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head.ejs') %>
      <title>Dashboard</title>
    </head>
    <%- include('partials/navbar.ejs') %>
    <body>
      <main>
        <!--Outer Container-->
        <div class="container-fluid">
          <div class="row">
              <!--Sidebar-->
              <%- include('partials/dashboard-sidebar.ejs') %>
              <div class="col-sm p-3 min-vh-100">
                  <!-- Content -->
                  <div><h1 class = "text-capitalize"><%-user %></h1></div>
                  <hr>
                  <div id="home" style="display:block;">
                    <!--Start Home Content-->
                    <div class="card text-center">
                      <div class="card-header">Track Time</div>
                      <div class="card-body">
                        <div class="time">
                          <h1><span class="badge bg-secondary" id="minute">00</span>
                          <span class="badge bg-secondary" id="second">00</span>
                          <span class="badge bg-secondary" id="ms">00</span></h1>
                         </div>
                         <a id = 'startButton' title="Start">
                          <i class="bi bi-play" style="font-size: 2rem;"></i>
                        </a>
                        <a id = 'stopButton' title="Stop">
                          <i class="bi bi-stop" style="font-size: 2rem;"></i>
                        </a>
                        <a id = 'sendButton' title="Save">
                          <i class="bi bi-save" style="font-size: 2rem;"></i>
                        </a>
                      </div>
                      <div class="card-footer text-muted">
                        footer
                      </div>
                    </div>
                  </div>
                    <!--End Home Content-->
                  <div id="stats" style="display:none;">
                    <p>stats content</p>
                  </div>
                  <div id="settings" style="display:none;">
                    <p>settings content</p>
                  </div>
                  <!-- content -->
              </div>
          </div>
      </div>
      </main>
        <%- include('partials/footer.ejs') %>
        <script type = "text/javascript" src="/js/dashboard.js"></script>
        <script type = "text/javascript" src = "/js/stopwatch.js"></script>
      </body>
</html>